<!DOCTYPE html>

<html>
    <head>
        <title>login successful - cvaldez</title>
        <link rel="stylesheet" href='{{host_static}}/static/styles/account_styles.css'>
        <link rel="icon" href="{{host_static}}/static/images/favicon.ico" sizes="any">
        <link rel="icon" href="{{host_static}}/static/images/favicon.svg" type="image/svg+xml">

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div id="banner"></div>
        <div id="login-box">
            <div id="login-info-text">
                <h1 class="cvdev-text-title">Success!</h1>
                <p class="cvdev-text-desc">Welcome, <b>user</b>!</p>
            </div>
        </div>
    </body>
</html>