<!DOCTYPE html>
<html>
    <head>
        <title>access</title>
        <link rel="stylesheet" href='{{host_static}}/static/styles/account_styles.css'>
        <link rel="icon" href="{{host_static}}/static/images/access.ico" sizes="any">
        <link rel="icon" href="{{host_static}}/static/images/access.svg" type="image/svg+xml">

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div id="banner"></div>
        <div id="account-box">
            <div id="account-box-text">
                <h1 id="hello-user" class="cvdev-text-title">Hello!</h1>
                <p class="cvdev-text-desc">Welcome to the Access settings. Edit your information below.</p>
                <p id="joined-date" class="cvdev-text-optional">Joined: ...</p>
            </div>

            <div class="account-center-change-div">
                <p class="cvdev-text-title">Basic Settings</p>
                <p class="cvdev-text-desc">Username</p>
                <button id="button-edit-username" class="cvdev-button-primary">Edit Username</button>
                <br>

                <p class="cvdev-text-desc">Password</p>
                <button id="button-edit-password" class="cvdev-button-primary">Edit Password</button>
            </div>

            <div class="account-center-change-div">
                <p class="cvdev-text-title">Advanced Settings</p>
                <button disabled class="cvdev-button-primary">Manage 2FA</button>
                <p class="cvdev-text-optional">Coming soon!</p>
            </div>
        </div>

        <script src="{{host_static}}/static/js/account.js"></script>
    </body>
</html>