<!DOCTYPE html>
<html lang="en">
    <head>
        <title>password settings - access</title>
        <link rel="stylesheet" href='../static/styles/0_settings.css'>
        <link rel="icon" href="../static/images/access.ico" sizes="any">
        <link rel="icon" href="../static/images/access.svg" type="image/svg+xml">

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div id="banner"></div>
        <div id="account-box">
            <div id="account-box-text">
                <h1 id="hello-user" class="cvdev-text-title">Password Settings</h1>
                <p id="text-current-username" class="cvdev-text-desc">Use this page to edit your password.</p>
            </div>

            <div class="account-center-change-div">
                <input id="input-new-password" class="cvdev-input" type="password" autocomplete="new-password" placeholder="New password" passwordrules="minlength: 20; required: lower; required: upper; required: digit; required: [-];">
                <button disabled id="button-edit-password" class="cvdev-button-primary">Save</button>
            </div>
        </div>

        <script src="../static/js/access_password.js"></script>
    </body>
</html>