<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Access: The cvaldez.dev Auth System</title>

        <link rel="stylesheet" href='static/styles/index.css'>
        <link rel="icon" href="static/images/access.ico" sizes="any">
        <link rel="icon" href="static/images/access.svg" type="image/svg+xml">

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div id="your-identity">
            <img src="static/images/access.svg" height="150" width="150" alt="Access logo">
            <h1>Your identity.</h1>
            <h1>Under your control.</h1>
        </div>
    </body>
</html>