<!DOCTYPE html>

<html>
    <head>
        <title>sign up - cvaldez</title>
        <link rel="stylesheet" href='{{host_static}}/static/styles/account_styles.css'>
        <link rel="icon" href="{{host_static}}/static/images/access.ico" sizes="any">
        <link rel="icon" href="{{host_static}}/static/images/access.svg" type="image/svg+xml">

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div id="banner"></div>
        <div id="login-box">
            <div id="login-info-text">
                <h1 class="cvdev-text-title">Sign up</h1>
                <p class="cvdev-text-desc">Access: One account for any project by Carlos!</p>
            </div>

            <div id="login-input-div">
                <input id="input-username" class="cvdev-input" type="text" placeholder="Username">
                <input id="input-password" class="cvdev-input" type="password" autocomplete="new-password" placeholder="Password" passwordrules="minlength: 20; required: lower; required: upper; required: digit; required: [-];">
            </div>

            <div id="login-boxes-div">
                <button id="button-signup" class="cvdev-button-primary">Sign up</button>
            </div>
        </div>

        <script src="{{host_static}}/static/js/signup.js"></script>
    </body>
</html>